body {
    vertical-align: top;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
}



.inputtainer {
    text-align: center;
    margin: auto auto  ;
    width: 960px;

    .in-username {
        width: 100px;
    }

    .in-email {
        width: 200px;
    }

    .in-location {
        width: 150px;
    }

    .in-profilepic {
        width: 500px;
    }    

    .in-galleryimg {
        width: 500px;
    }

    .in-imgcaption {
        width: 500px;
    }
}


$avatarsize: 150px;

.avatarbanner {
    width:100%;
    height: auto;
    border: 1px solid red;

    .ceneteravatarcontainer {
        text-align: center;
        margin: 0 auto;
        width: 775px;

        .avatar {
            position: relative;
            display: inline-block;
            margin: 0 auto;
            height: $avatarsize;
            width: $avatarsize;
            border-radius: $avatarsize;

            .avatarimage {
                border-radius: $avatarsize;
                height: $avatarsize;
                width: $avatarsize;
            }

            .caption {
                border-radius: $avatarsize;
                background-color: rgba(128, 128, 128, 0.4);
                width: $avatarsize;
                height: $avatarsize;
                position: absolute;
                line-height: $avatarsize;
                top: 0;
                display: block;
                display: none;
                text-align: center;
                font-size: 16px;
                color: #fff;
            }
        }
    }
}


.gallery {
    height: 825px;
    background-color: gray;
    overflow: scroll;

    .container {
        margin-top: 50px;        

        .gallerytainer {
            position: relative;
            text-align: center;
            margin: 0 auto;
            width: 960px;

            .galleryimgbox {
                display: inline-block;
                width: 300px;
                height: 300px;
                margin: 0 auto;
                border: 1px solid black;

            .galleryimg {
                width: 300px;
                height: 300px;
            }
                .caption {
                    background-color: rgba(128, 128, 128, 0.4);
                    position: absolute;
                    top: 0;
                    display: block;
                    display: none;
                    text-align: center;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }    
    }
}


