<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>enfuego</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->




        <!-- ////////////////////////// HEADER //////////////////////// -->


        <div class="header">
            <img class="picshare-sub-logo" src="images/picsharesublogo.png">
            <h1>PICSHARE</h1>
            <div class="container"></div>
        </div>



        <!-- ////////////////////////// LANDING PAGE ////////////////////////// -->
        

        <div class="landing-page">
            <img class="background" src="images/backgroundnew.jpg">
            <div class="logo">
                <img class="picshare-main-logo" src="images/picsharelogowhite.png"> 
            </div>
        </div>  



        <!-- /////////////////////////// INPUT ////////////////////////// -->
        

        <div class="content">
            <div class="inputbanner">
                <div class="container">
                    <div class="inputfield">
                        <div class="inputtainer">
                            <div class="join-cont">
                                <span class="join">Join the Picshare revolution</span><br></br>
                                <span class="easy">Elegant photo sharing is as easy as 1-2-3</span>
                            </div>
                            <input value="1. Enter your username ..."                   id='usern'      class="in-username"></input>
                            <input value="2. Choose a profile pic ..."                                id='gali'       class="in-profilepic"></input>
                            <input value="3. And upload your photos."                                id='gali'       class="in-galleryimg"></input>
                            <button class="submit">submit</button>
                        </div>    
                    </div>  
                </div>  
            </div>
           

        <!-- //////////////////////// AVATAR SECTION ////////////////////////// -->



            <div class="avatarbanner">
                <div class="container">
                    <div class="ceneteravatarcontainer">
                        <h1>CHECK OUT THE LATEST PROFILES</h1>
                    </div>
                </div>
            </div>



            <!-- //////////////////////// PHOTO GALLERY /////////////////////////// -->


            <div class="bannertwo">
                <div class="container">
                    <span class="gallery-title">GALLERY</span>
                    <div class="gallerytainer">
                
                    </div>                
                </div>
            </div>

        <!-- //////////////////////////// FOOTER ////////////////////////////// -->

            <footer>
                <div class="footer">
                    <div class="container">
                            <div class="connect">
                              <h1>Connect with us at The Iron Yard</h1>
                              <p class="first">Be the first to sign up and share your memories with friends and family on Picshare.
                            </div>
                            <div class="social">
                                <ul class="footer-social">
                                  <li class="social-channel">
                                    <img src="images/facebook.svg">
                                    <span>Like us on Facebook</span>
                                  </li>
                                  <li class="social-channel">
                                    <img src="images/twitter.svg">
                                    <span>Follow us on Twitter</span>
                                  </li>
                                  <li class="social-channel">
                                    <img src="images/googleplus.svg">
                                    <span>+ 1 us on Google</span>
                                  </li>
                                </ul>
                            </div>
                    </div>
                </div>
                  


        <!-- /////////////////////////// SUBFOOTER //////////////////////////// -->
        
                <div class="subfooter">
                    <div class="container">
                        <div class="sub-content">
                            <h1>&copy; PICSHARE 2014:  A Barr, Bertino, Crawford project.</h1>
                        </div>  
                    </div>
                </div>
            </footer>
        </div>
        
        <!-- ///////////////////// JAVASCRIPT TEMPLATES /////////////////////// -->
       

         <script class="avatar-template" type="text/template">
             <div class="avatar">
                <img class="avatarimage"src="<%= profilepic %>">
                <div class="caption">
                    <span class="avatarusername"><%= avatarusername %></span>
                </div>   
             </div>
        </script>
         
         <script class="gallery-template" type="text/template">
                <div class="galleryimgbox">
                    <img class="galleryimg" src="<%= url %>"/>
                </div>
        </script>
 
<!--                <span class="avataremail"><%= avataremail %></span>
                    <div class="avatarlocation"><%= avatarlocation %></div> -->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>

</html>
